apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  labels:
    app: api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name: api
        image: yehudalinker/api:v1
        ports:
        - containerPort: 8000
        env:
        - name: HOST
          value: mysql
        - name: PORT
          value: "3306"
        - name: USER
          value: "root"
        - name: PASSWORD
          value: "0533863104"
        - name: DATABASE
          value: "test_database"
